

						/**************************************************/
						/*		  Fichier CSS pour le blog CodisArt	      */
						/*		   			by punkka					  */
						/*										 		  */
						/**************************************************/


/***** Global ****/

/** Definition de la police Rockwell **/
@font-face {
	font-family: "Rockwell";
	src: url(../font/rockwell.eot);
	src: url(../font/rockwell.eot?#iefix) format('embedded-opentype'), url('../font/rockwell.ttf') format('truetype');
}

* {margin: 0; padding: 0;}
ul {list-style-type: none;}
a {text-decoration: none; color: #000000;}
table {border-spacing: 0;}

/** Hack iOs : Pour supprimer la mise en forme par défaut des champs de saisie **/
input { -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0;}
textarea { -webkit-appearance: none; -webkit-border-radius: 0; border-radius: 0;}


body {text-align: center; font-family: Rockwell; background: url(../img/stripes.png), url(../img/fond.png) top center no-repeat ; background-size: 12px 12px, 1400px 390px; background-color : #2a2a2a;}

/** Hack IE : Alternative aux multiples backgrounds **/
body { background : #3E3E3E url(../img/fond.png) top center no-repeat\9;}


/*#global { width: 1200px;}*/
#contenu {width: 1200px; margin: 0 auto 0; padding: 0; background: #f8f8f8; overflow: hidden; text-align: justify; text-indent: 15px; color: #222222;}


/***** Commun : Header *****/

.header {width: 1200px; height: 180px; margin: 0 auto 0; padding: 0; color: #aaaaaa;}

.header .logo {width: 1200px; height: 150px; margin: 0; padding: 0; color: white; text-shadow: -2px 3px 4px #000000; font-family: Rockwell; text-align: left; text-indent: 25px; }
.header .logo h1 {font-weight: lighter; font-size: 75pt; text-indent: 50px; line-height: 180px;}
.header .logo a {color: white;}

#ad {width: 650px; height: 100px; margin: -120px 35px 0; background: rgba(255,255,255,0.8);; float: right; line-height: 100px;}

.header .navigation {height: 30px; float: right; margin: 0; padding: 0; padding-right: 40px;}
.header .navigation .onglet{display: block; float: left; height: 30px; line-height: 30px; margin: 0; padding: 0 20px 0 20px; background : #202020; background: rgba(0,0,0,0.8); font-size: 20px; color: #d2d2d2;	font-weight: lighter; }

.header .navigation .onglet.actif {background: #e8e8e8; color: #181818; color: rgba(0,0,0,0.8);}
.header .navigation .onglet:hover {color: #242fb4; background: #000000;}


/***** Commun : Footer *****/


.footer { width: 1200px; height: 70px; margin: 0 auto 0; padding-top: 15px;}

.footer h3 { margin: 0 0 0 120px; padding: 0; color: white; text-shadow: -2px 2px 2px #000000; font-family: Rockwell; font-weight: normal; text-align: left; font-size: 16px;}
.footer h4 { margin: 0 0 0 150px; padding: 0; color: white; text-shadow: -2px 2px 2px #000000; font-family: Rockwell; font-weight: normal; text-align: left; font-size: 14px;}

.footer div { font-family: Calibri, "Lucida Grande", sans-serif; font-size: 15px; width: 180px; height: 30px; line-height: 30px; margin: -35px auto 0; border-radius: 5px; background : #2a2a2a; background: rgba(0,0,0,0.7); }

.footer div,
.footer a { color: #e4e4e4;}


.error { color: #e71647; font-size: 18px; text-indent: 15px;}
.success { color: #4792d2; font-size: 16px; text-indent: 15px;}


/***** index.php *****/

#principal { width: 72%; min-height: 700px; float: left; padding: 0; background: #e8e8e8;}
#principal h2 { font-size: 28px; font-weight: lighter;}

#principal .article { text-align: left; }
#principal .article .entete {width: 8px; height: 42px; float: left;}
#principal .article:nth-child(even) .entete {background-color: #1abc9c;}
#principal .article:nth-child(odd) .entete {background-color: #4792d2;}
#principal .article h3 { height: 35px; padding: 0 20px 0; line-height: 42px; font-size: 25px; color: #111111; font-weight: lighter; text-indent: 0; }

#principal hr { width: 90%; }

#principal .article h6 { font-size: 12px; color: #656565; text-align: left;	text-indent: 20px; padding: 0 20px 0;	font-weight: lighter; }
#principal .article h6 span { color: #4792d2; }

#principal .article p {font-size: 17px; color: #111111; font-family: Calibri, "Lucida Grande", sans-serif; padding: 0 20px 0; margin-top: 20px; margin-bottom: 25px;}

#principal .article em {display: block; height: 20px; font-style: normal; font-size: 13px; text-indent: 0; padding: 0 20px 0;}
#principal .article em a {color: #444444;}
#principal .article em a:hover {text-decoration: underline; color: #a9a9a9;}

#principal .article h3 em {font-size: 12px;}

#navigationBlog {width :700px; margin : 20px auto 0;	height : 40px; line-height : 40px; font-size : 16px; text-indent : 0;}
#navigationBlog a{color : #e71647;}
#navigationBlog a:hover{text-decoration : underline;}


#secondaire {	height: 100%; min-height: 700px; margin: 0 0 0 72%; padding: 10px 0;}

#secondaire .encart { margin-bottom: 20px;}
#secondaire .encart h3{height: 30px; line-height: 30px; font-size: 25px; font-weight: 500; text-indent: 15px;	margin-bottom: 10px;}
#secondaire .encart .profil img {float: left; width: 100px; margin: 0 15px 0;}
#secondaire .encart .profil { text-indent: 0;}

#secondaire .encart .recherche p { height: 28px;}
#secondaire .encart .recherche input { float: left; height: 26px; line-height: 26px; margin: 0; padding:0; border: 1px solid #2a2a2a; outline: none; box-sizing: content-box; -moz-box-sizing: content-box; -webkit-box-sizing: content-box;}

#secondaire .encart .recherche .saisie { width: 170px; font-family: Calibri, "Lucida Grande", sans-serif; font-size: 18px; color: #909090; padding: 0 0 0 7px; font-style: italic; border-right: none; margin-left: 12%; background: #FFFFFF; }
#secondaire .encart .recherche .bouton { width: 30px; color: #FFFFFF; font-size: 15px; font-family: Rockwell; background: #2a2a2a; text-align: center; border-radius: 0;}


/***** projects.php *****/

#contenu.projets {background: #e8e8e8; padding-top:  20px; 	text-indent: 0; }
#contenu.projets>div {width: 900px; height: 140px; margin: 30px auto 30px; }
#contenu.projets div img {float:left; }
#contenu.projets div p {width: 680px; margin-left: 210px }
#contenu.projets div h1 {margin-left: 210px; }

/***** challenges.php *****/

#contenu.challenges {background: #e8e8e8; padding-top:  20px; 	text-indent: 0;}
#contenu.challenges>div {width: 1160px; height: 140px; margin: 30px auto 30px;}



/***** suggestions.php *****/

#contenu.suggestions {background:#e8e8e8;}

#messageAccueil{padding-top:20px; width:100%; text-align:center; font-size:18px; font-weight:lighter; text-indent:0; padding-bottom:15px;}
#boutonForm{font-size:16px; font-weight:lighter; width:230px; text-align:center; height:24px; text-indent:0; line-height:24px; background:#4792d2; -moz-border-radius:5px; cursor:pointer; margin:auto; padding:0 20px;}

.message{padding:0 20px;}
.message h3{height:35px; line-height:35px; margin-bottom:10px;}
.message h4{font-size:14px; height:16px; line-height:12px; text-indent:2px; padding-left:15px;}
.message img{margin:0;}
.message h3 em{color:#4792d2; font-family:Calibri, "Lucida Grande", sans-serif; font-size:12px; font-style:normal;}
.message p{border-radius:10px; -moz-border-radius:10px; background:#fff; font-family:Calibri; line-height:16px; font-size:15px; color:#333; margin:0 20px 20px; padding:10px 15px;}

hr{width:860px;  margin: auto}

#formMessage{text-indent:0; display:none; position:fixed; top:30%; left:50%; background:#fff; z-index:20100; width:570px; -webkit-box-shadow:0 0 13px #555; -moz-box-shadow:0 0 13px #555; text-align:left; margin:0 0 0 -300px; padding:15px;}
#formMessage h2{font-size:18px; font-family:Calibri, "Lucida Grande", sans-serif; font-weight:900; padding-bottom:25px;}
#formMessage img{float:right; cursor:pointer;}
#formMessage p{margin:0 0 8px;}
#formMessage p input[type=text]{color:#222; font-style:normal; width:230px;}
#formMessage p textarea{width:570px; font-family:Calibri, "Lucida Grande", sans-serif; font-size:16px; color:#222; border:1px solid #2a2a2a; margin:0; padding:0;}
#formMessage p input[type=submit]{height:30px; line-height:30px; background:#2a2a2a; border:none; color:#FFF; font-family:Rockwell; font-size:16px; margin:0; padding:0 10px;}
#formMessage label{line-height:28px; margin-left:10px; font-family:Calibri, "Lucida Grande", sans-serif;}
#formMessage label em{font-size:14px;}
#formMessage label strong{font-size:11px; font-weight:400;}
#asali {display: none;}

#navigationSuggestions{margin :0 20px; height:40px; line-height:40px; font-size:16px; text-align:center; background-color: #d0d0d0;}
#navigationSuggestions span{cursor: pointer;}
#navigationSuggestions span:hover{text-decoration:underline;}


/***** article.php *****/

#retourArticle {line-height: 45px; color: #444444;}
#retourArticle:hover {text-decoration: underline; color: #a9a9a9;}
#nombreCommentaires {padding: 0 20px 25px; text-indent: 0; font-size: 18px; font-family: Calibri; font-weight: 900;}

#nombreCommentaires a{color : #444444; font-size : 13px; font-weight: 500;}

.commentaire {padding : 0 20px 0;}
.commentaire h3 {height : 35px; line-height : 35px; margin-bottom: 10px;}
.commentaire h3 em {color : #4792d2; font-family : calibri; font-size: 12px; font-style: normal;}
.commentaire p {padding : 10px 15px; margin : 0 20px 20px; border-radius: 10px; -moz-border-radius: 10px; background: #ffffff; font-family : Calibri; line-height : 16px; font-size : 15px; color : #333333;}

#formCommentaire {padding : 0 20px 0; text-indent : 0;}

#formCommentaire h2 {padding-bottom:  25px; text-indent : 0; font-size : 18px; font-family : Calibri; font-weight : 900;}

#formCommentaire p {margin : 0; margin-bottom : 8px; text-indent : 0;}
#formCommentaire p input[type=text] {color : #222222; font-style : normal;	width : 230px; border : 1px solid #6a6a6a;}
#formCommentaire p textarea {width : 660px; margin : 0; padding : 0; font-family : Calibri; font-size : 16px; color : #222222; border : 1px solid #6a6a6a;}

#formCommentaire p input[type=submit] {height : 30px; margin : 0; padding : 0 10px 0; line-height : 30px; background : #2a2a2a; border : none; color : white; font-family : Rockwell; font-size : 16px;}
#formCommentaire label {line-height : 28px; margin-left : 10px; font-family : Calibri;}

#formCommentaire label em{font-size : 14px;}
#formCommentaire label strong{font-size : 11px; font-weight : normal;}
